.project-list {
    height: 400px;
    width: 600px;
    margin: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.border {
    border-style: solid;
    border-width: 1px;
}

.center {
    margin: auto;
}

.med-size {
    height: 400px;
    width: 600px;
}

.lg-size {
    height: 800px;
    width: 1000px;
}

.select-panel {
    height: 580px;
    width: 650px;
}

.select-btns {
    height: 100px;
    width: 600px;
    margin: 0px 15px;
}

.select-btn-lg {
    height: 100px;
    width: 180px;
    margin: 10px;
}

.select-btn-sm {
    height: 45px;
    width: 180px;
    margin-bottom: 10px;
}

.select-btn-col {
    margin: 10px;
}

.select-btn-row>.select-btn-col,
.select-btn-row>.btn {
    float: left;
}
