.header {
    height: 80px;
    background-color: #369836;
    color: white;
}

h3 {
    margin-left: 5px;
}

h1, h4 {
    float: left;
}

h1 {
    margin-left: 5px;
}

h4 {
    margin-top: 30px;
    margin-left: 20px;
}

.project-list {
    height: 400px;
    width: 600px;
    margin: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.project {
    height: 30px;
    width: 570px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color:blue
}

.project.project-active {
    border-color: red;
}

.project-name {
    float: left;
}

.project-address {
    float: right;
}

.border {
    border-style: solid;
    border-width: 1px;
}

.center {
    margin: auto;
}

.thin-form {
    width: 400px;
}

/* START OF select view */
.select-panel {
    height: 580px;
    width: 650px;
}

.select-btns {
    height: 100px;
    width: 600px;
    margin: 0px 15px;
}

.select-btn-lg {
    height: 100px;
    width: 180px;
    margin: 10px;
}

.select-btn-sm {
    height: 45px;
    width: 180px;
    margin-bottom: 10px;
}

.select-btn-col {
    margin: 10px;
}

.select-btn-row>.select-btn-col,
.select-btn-row>.btn {
    float: left;
}
/* END OF select view */

/* START OF create view */
.create-panel {
    height: 300px;
    width: 400px;
}

.create-input {
    width: 380px;
    height: 30px;
    margin: 10px;
    padding-left: 5px;
    border-radius: 4px;
    border-width: 2px;
    border-style: groove;
}

.create-btn-row>.btn {
    float: left;
}

.create-btns {
    height: 100px;
    width: 600px;
    margin: 0px 15px;
}

.create-btn-sm {
    height: 45px;
    width: 178px;
    margin: 10px;
}
/* END OF create view */

/* START OF db visualization */
.left-fill {
    border-top-style: solid;
    border-top-width: 1px;
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0px;
    width: 250px;
    background-color: #5CB85C;
}

.right-fill {
    position: absolute;
    top: 80px;
    right: 0px;
    bottom: 0px;
    left: 250px;
}

.btn-back {
    height: 50px;
    width: 40%;
    margin: 15px;
}

.btn-layout {
    height: 75px;
    width: 75px;
    margin: 15px;
}

.layout-btn-container {
    margin-left: 15px;
}

.btn.btn-visibility {
    width: 94%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.entity-list {
    overflow-y: scroll;
    position: absolute;
    top: 410px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}
